@import 'ember-power-select';
@import 'node-editor';
@import 'tree-builder';
@import 'index';

$headings-font-family: Lato;
@import 'ember-bootstrap/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

button {
  @extend .btn;
  @extend .btn-primary;
  
  &.danger {
    @extend .btn;
    @extend .btn-outline-danger;
  }
}

.page-content {
  @extend .container;
  @extend .my-3;
}

table {
  @extend .table;
  @extend .align-middle;
  
  button {
    @extend .btn-sm;
  }
  
  button.danger {
    @extend .btn-sm;
  }
}

.builder-container {
  display: grid;
  grid-template-columns: auto 250px;
  height: 100vh;
}

.content-left {
  padding: 10px;
}

.sidebar {
  // grid-column-start: auto;
  padding: 10px;
  
  a.back-link {
    float: right;
    text-decoration: none;
  }  
}
