@import 'ember-power-select';
@import 'node-editor';
@import 'tree-builder';
@import 'index';

html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto 250px;
  height: 100vh;
}

.content-left {
  padding: 10px;
}

.sidebar {
  // grid-column-start: auto;
  padding: 10px;
  
  a.back-link {
    float: right;
    text-decoration: none;
  }  
}

.builders-content {
  width: 600px;
  margin: 0px auto;
  
  h1, h2, h3 {
    font-family: Lato;
  }    
}