#index_hero_bg {
  background: #60a0ff;
  @extend .mb-5;
}

#index_hero {
  @extend .container;
  @extend .py-5;
  color: white;
  
  .text-muted {
    color: white;
  }
  
    a.hero-btn {
      text-decoration: none;
      font-size: 16pt;
      padding: 2px 8px;
      font-family: Lato;
      font-weight: 700;
      
      background: #00000000;
      color: #fff000;
      border: 2px solid #fff000;      
      
      transition: background 0.1s, border-color 0.1s, color 0.1s;
      
      &:hover {
        background: #fff000;
        color: black;
        border: 2px solid #fff00000;
      }
    }
}
