{{page-title "Index"}}

<div id="index_hero_bg">
  <div id="index_hero">
    <h1>Another <b>Fault Tree Analysis</b> Tool</h1>
    <p><LinkTo @route="builders" class="hero-btn">builder →</LinkTo></p>
  </div>
</div>

<div class="container">
  <h2>Features</h2>
  <p>Build a fault tree.</p>
  <p>Everything is in the browser's localstorage.</p>
  <p>If it stops working, probably relationships are broken. Try deleting the tree or
  all of localstorage.</p>
</div>