{{page-title "Index"}}

<div id="index">
  <div class="hero">
    <div class="content">
      Another <b>Fault Tree Analysis</b> Tool<br/>
      <LinkTo @route="builders" class="hero-action">builder →</LinkTo>
    </div>
  </div>
  <div>
    <div class="content">
    <h2>Features</h2>
    <p>Build a fault tree.</p>
    <p>Everything is in the browser's localstorage.</p>
    <p>If it stops working, probably relationships are broken. Try deleting the tree or
    all of localstorage.</p>
    </div>
  </div>
</div>
